let mapleader=" "

""" Sets BEGIN
set scrolloff=5
set incsearch
set clipboard^=unnamedplus,unnamed
""" Sets End

""" Plugins BEGIN

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

""" Plugins END

""" Maps BEGIN
map <leader>r <Action>(RenameElement)
map <leader>z <Action>(ToggleDistractionFreeMode)
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)

" Trident mappings
map <leader>ja <Action>(TridentAppend)
map <leader>je <Action>(TridentToggleQuickMenu)
map <leader>js <Action>(TridentSelect1)
map <leader>jd <Action>(TridentSelect2)
map <leader>jf <Action>(TridentSelect3)
map <leader>jg <Action>(TridentSelect4)
map <leader>jh <Action>(TridentSelect5)

map , <Action>(TridentSelectPrev)
map . <Action>(TridentSelectNext)
""" Maps END
